In [1]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('students.db')

# Read from the students table
df_from_db = pd.read_sql_query("SELECT * FROM students", conn)

# Show data
print(df_from_db.head())

# Close connection
conn.close()

   student_id              name                        email  \
0           1    Ashley Lambert        jeffery56@example.net
1           2       Corey Hicks    palmerdeborah@example.org
2           3  Christine Rogers      olsondebbie@example.net
3           4      Diana Larson  alexandrialopez@example.com
4           5        Troy Silva         philip17@example.net

                    phone                  dob  degree branch  \
0            731.885.2707  2004-07-21 00:00:00    B.Sc   MECH
1    001-920-221-9617x570  2004-09-29 00:00:00  B.Tech    CSE
2  001-392-612-0105x30843  2003-02-11 00:00:00    B.Sc    ECE
3           (606)735-0736  1999-11-30 00:00:00  B.Tech     IT
4              3002427337  2003-06-16 00:00:00     BCA    ECE

   year_of_passing  CGPA  Backlogs
0             2023  8.60         3
1             2024  9.89         0
2             2024  9.92         3
3             2025  5.73         5
4             2023  6.96         2

In [2]:
import sqlite3
import pandas as pd

# Since your students.db is in the same Jupyter folder
conn = sqlite3.connect("students.db")

# Show all available tables
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Available tables:")
print(cursor.fetchall())

# Read students table
df = pd.read_sql_query("SELECT * FROM students", conn)
print(df.head())

conn.close()

Available tables:
[('students',)]
   student_id              name                        email  \
0           1    Ashley Lambert        jeffery56@example.net
1           2       Corey Hicks    palmerdeborah@example.org
2           3  Christine Rogers      olsondebbie@example.net
3           4      Diana Larson  alexandrialopez@example.com
4           5        Troy Silva         philip17@example.net

                    phone                  dob  degree branch  \
0            731.885.2707  2004-07-21 00:00:00    B.Sc   MECH
1    001-920-221-9617x570  2004-09-29 00:00:00  B.Tech    CSE
2  001-392-612-0105x30843  2003-02-11 00:00:00    B.Sc    ECE
3           (606)735-0736  1999-11-30 00:00:00  B.Tech     IT
4              3002427337  2003-06-16 00:00:00     BCA    ECE

   year_of_passing  CGPA  Backlogs
0             2023  8.60         3
1             2024  9.89         0
2             2024  9.92         3
3             2025  5.73         5
4             2023  6.96         2

In [4]:
import sqlite3
import pandas as pd

# Reconnect to your database (update the path if needed)
conn = sqlite3.connect(r"C:\Users\HP\students.db")

# Check the connection works by listing tables
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("All available tables:")
for table in tables:
    print(table[0])

# Read and preview each table
for table in tables:
    print(f"\n--- {table[0]} ---")
    df = pd.read_sql_query(f"SELECT * FROM {table[0]}", conn)
    print(df.head())

All available tables:
students

--- students ---
   student_id              name                        email  \
0           1    Ashley Lambert        jeffery56@example.net
1           2       Corey Hicks    palmerdeborah@example.org
2           3  Christine Rogers      olsondebbie@example.net
3           4      Diana Larson  alexandrialopez@example.com
4           5        Troy Silva         philip17@example.net

                    phone                  dob  degree branch  \
0            731.885.2707  2004-07-21 00:00:00    B.Sc   MECH
1    001-920-221-9617x570  2004-09-29 00:00:00  B.Tech    CSE
2  001-392-612-0105x30843  2003-02-11 00:00:00    B.Sc    ECE
3           (606)735-0736  1999-11-30 00:00:00  B.Tech     IT
4              3002427337  2003-06-16 00:00:00     BCA    ECE

   year_of_passing  CGPA  Backlogs
0             2023  8.60         3
1             2024  9.89         0
2             2024  9.92         3
3             2025  5.73         5
4             2023  6.96         2

In [5]:
import sqlite3
import pandas as pd

# Reconnect to the database (if needed)
conn = sqlite3.connect("students.db")
cursor = conn.cursor()

# Write SQL query to filter eligible students
query = """
SELECT * FROM students
WHERE cgpa >= 7.0 AND backlogs <= 1
"""

# Load into DataFrame
eligible_df = pd.read_sql_query(query, conn)

# Display top 5 eligible students
print(eligible_df.head())

   student_id            name                        email  \
0           2     Corey Hicks    palmerdeborah@example.org
1           6    Ray Townsend       jennifer47@example.org
2           7    Sandra Davis   janetdominguez@example.org
3           8  Annette Gordon  gonzalezbreanna@example.net
4          22  Rebecca Guzman       aaronwells@example.net

                  phone                  dob  degree branch  year_of_passing  \
0  001-920-221-9617x570  2004-09-29 00:00:00  B.Tech    CSE             2024
1    973.405.4023x10769  2005-04-30 00:00:00    B.Sc     IT             2025
2          310-993-7705  2005-05-01 00:00:00     BCA     IT             2023
3          387-978-4671  2001-08-16 00:00:00   B.Com     IT             2025
4          994-839-5865  2000-09-08 00:00:00   B.Com    EEE             2025

   CGPA  Backlogs
0  9.89         0
1  9.80         1
2  8.02         0
3  8.70         1
4  7.12         0

In [7]:
import sqlite3
import pandas as pd
import random

# Reconnect to database
conn = sqlite3.connect("students.db")
cursor = conn.cursor()

# Sample student_ids from existing students table
student_ids = pd.read_sql_query("SELECT student_id FROM students", conn)

# Create fake programming scores
programming_data = {
    "student_id": student_ids["student_id"],
    "programming_score": [random.randint(40, 100) for _ in range(len(student_ids))]
}

# Convert to DataFrame
programming_df = pd.DataFrame(programming_data)

# Save to SQL table
programming_df.to_sql("programming", conn, if_exists="replace", index=False)

print("✅ Programming table created successfully!")

✅ Programming table created successfully!

In [8]:
query = """
SELECT s.*, p.programming_score
FROM students s
JOIN programming p ON s.student_id = p.student_id
WHERE s.cgpa >= 7.0 AND s.backlogs <= 1 AND p.programming_score >= 60
"""
eligible_df = pd.read_sql_query(query, conn)
print(eligible_df.head())

   student_id            name                        email             phone  \
0           8  Annette Gordon  gonzalezbreanna@example.net      387-978-4671
1          22  Rebecca Guzman       aaronwells@example.net      994-839-5865
2          28     Dylan Avery          mdeleon@example.com  827.591.9165x740
3          43    Corey Travis     fieldsdwayne@example.org  001-402-607-0454
4          60  Michael Nguyen         arthur90@example.org      846-551-7325

                   dob degree branch  year_of_passing  CGPA  Backlogs  \
0  2001-08-16 00:00:00  B.Com     IT             2025  8.70         1
1  2000-09-08 00:00:00  B.Com    EEE             2025  7.12         0
2  2001-05-26 00:00:00  B.Com    EEE             2023  8.00         1
3  2004-11-16 00:00:00   B.Sc    ECE             2024  8.04         1
4  2001-06-18 00:00:00   B.Sc     IT             2025  8.14         1

   programming_score
0                 78
1                 87
2                 61
3                 74
4                 99

In [9]:
import random

# Sample soft skill attributes
def random_score():
    return random.randint(1, 10)

soft_skills_data = {
    "student_id": student_ids["student_id"],
    "communication": [random_score() for _ in range(len(student_ids))],
    "teamwork": [random_score() for _ in range(len(student_ids))],
    "leadership": [random_score() for _ in range(len(student_ids))]
}

soft_skills_df = pd.DataFrame(soft_skills_data)

# Save to database
soft_skills_df.to_sql("soft_skills", conn, if_exists="replace", index=False)

print("✅ Soft skills table created successfully!")

✅ Soft skills table created successfully!

In [10]:
companies = ['TCS', 'Infosys', 'Wipro', 'Accenture', 'Google', 'Amazon', 'None']

placements_data = {
    "student_id": student_ids["student_id"],
    "company": [random.choice(companies) for _ in range(len(student_ids))],
    "salary": [random.randint(300000, 1200000) for _ in range(len(student_ids))]
}

placements_df = pd.DataFrame(placements_data)

# Save to database
placements_df.to_sql("placements", conn, if_exists="replace", index=False)

print("✅ Placements table created successfully!")

✅ Placements table created successfully!